venv/
.venv/
env/
ENV/
*.pyc
*.pyo
__pycache__/
*.log
*.tmp
*.cache
*.pid
.vscode/
.idea/
*.iml
*.swp
Thumbs.db
.DS_Store
*.ini
.env
.secrets
*.pem
*.key
build/
dist/
*.egg-info/
*.exe
*.dll
*.so
*.pyd
*.pyw
*.dat
*.zip
*.7z
.pytest_cache/
.coverage
htmlcov/
desktop.ini
$RECYCLE.BIN/
*.manifest
*.pdb
*.db